@model MarketPlace.Models.User.UserChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}


@using(Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @class = "" })) {
    <div class="form-group">
        @Html.HiddenFor(n => n.UserID)
        @Html.TextBoxFor(n => n.OldPassword, new { @class = "form-control", placeholder = MarketPlace.Resources.Models.Users.ChangePasswordModel.OldPassword })
        @Html.ValidationMessageFor(n => n.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(n => n.NewPassword, new { @class = "form-control", placeholder = MarketPlace.Resources.Models.Users.ChangePasswordModel.NewPassword })
        @Html.ValidationMessageFor(n => n.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(n => n.NewRepeatPassword, new { @class = "form-control", placeholder = MarketPlace.Resources.Models.Users.ChangePasswordModel.NewRepeatPassword })
        @Html.ValidationMessageFor(n => n.NewRepeatPassword, "", new { @class = "text-danger" })
    </div>
    <input type="submit" class="btn btn-primary" value="@MarketPlace.Resources.Models.Users.ChangePasswordModel.Submit" />
}

